* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

header {
    margin-top: 44px;
    margin-left: 75px;
}

img {
    margin-top: 144PX;
    margin-left: 125px;
    width: 568px;
    height: 500px;

}

.CONTEINER-RIGHT {
    display: inline-block;
    margin-left: 86px;
}

.link-a {

    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #989D9C;
    margin-right: 23px;

}

.log-in {

    background: #665AE1;
    border-radius: 20.5px;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    width: 130px;
    height: 41px;
    border: none;

}

h1 {
    width: 513px;
    height: 122px;
    font-weight: 900;
    font-size: 100px;
    line-height: 122px;
    color: #515151;
}

h2 {
    width: 448px;
    height: 71px;
    font-weight: 500;
    font-size: 58px;
    line-height: 71px;
    color: #515151;
}

p {
    margin-top: 32px;
    margin-bottom: 65px;
    width: 515px;
    height: 87px;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #848484;
}

.button-explore {
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    color: #000000;
    background: #ADFF00;
    border-radius: 20.5px;
    border: none;
    width: 239px;
    height: 64px;


}

@media screen and (max-width:900px) {
    *{
        margin:0;
        padding: 0;
        box-sizing: border-box;
    }

    header {
        display: none;
    }

    p {text-align: center;
        margin-top: 7px;
        margin-bottom:17px ;
        display: none;

    }

    img {margin-left: 160px;
        width: 354px;
        height: 317px;

    }

    h1 {text-align: center;
        margin-top: 24px;
        font-weight: 900;
        font-size: 50px;
        line-height: 61px;

        color: #515151;
    }

    h2 {     text-align: center;
        margin-top: -45px;
        font-weight: 500;
        font-size: 30px;
        line-height: 37px;
        color: #515151;
        margin-left: 35px;
    }
    .button-explore{
        margin-left: 135px;
    }


}